# This is the template for environment variables needed for the Web API project.
# Copy this file to .env and fill in the actual values.

# SQL Database connection string
# NOTE: Replace 'YourPassword' with your actual SQL Server password.
# For other SQL Server authentication methods, adjust the connection string accordingly.
SQL_CONNECTION_STRING="Server=.;Database=YourApp;User Id=sa;Password=YourPassword;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;"

# JWT Secret Key
JWT_SECRET=YourSuperSecretKeyHere
JWT_ISSUER=YourAppIssuer
JWT_AUDIENCE=YourAppAudience
JWT_EXPIRY_MINUTES=TimeInMinutes

# URL
FRONTEND_URL=FrontendAppUrl
BACKEND_URL=BackendAppUrl

# Cloud Storage (e.g., AWS S3, Azure Blob Storage, Cloudinary, etc.)
CLOUD_STORAGE_PROVIDER=YourCloudProvider
CLOUD_STORAGE_API_KEY=YourCloudStorageApiKey
CLOUD_STORAGE_API_SECRET=YourCloudStorageApiSecret

# Email Service (e.g., SendGrid, SMTP, etc.)
EMAIL=YourEmailServiceProvider
EMAIL_PASSWORD=YourEmailServiceApiKey
EMAIL_HOST=EmailHostAddress
EMAIL_PORT=EmailPortNumber

# Redis Cache
REDIS_CONNECTION_STRING=YourRedisConnectionString